/* body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
} */

.header {
    /* background-color: #477bff; */
    color: #fff;
    margin-bottom: 2rem;
    margin-right: 1px;
    padding: 1px 30px;
    text-align: center;
    padding-right: 1px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    padding-bottom: 1rem;


}

.container a {
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: #019547
}

.container a:hover {
    text-decoration: underline;
}

.top-left {
    top: 0;
    left: 0;
    text-align: left;
}

.inline-image {
    display: inline-block;
    vertical-align: top;
    width: auto; /* Adjust as needed */
    height: 6em; /* Adjust as needed */
}

.top-bar{
    width: 100%;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center;
    padding: 10px;
}

