/* body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
} */

.header {
    /* background-color: #477bff; */
    color: #fff;
    width: auto;
    padding: 1em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    padding-bottom: 1rem;
    width: 450px;
}

.outer-container {
    display: flex;
    justify-content: center;  /* 水平居中 */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffdf82
}

.container a {
    text-decoration: none;
    color: #FFFFFF;
}

.container a:hover {
    text-decoration: underline;
}

.top-left {
    top: 0;
    left: 0;
    text-align: left;
}

.inline-image {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 6em;
}

.top-bar{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

@media (min-width: 552px) and (max-width: 991px) {
    .display-md-20px {
        font-size: 20px; /* 等效于 display-1 */
    }
}

@media (min-width: 992px) {
    .display-lg-42px {
        font-size: 42px;
        line-height: 40px
    }
}

@media (min-width: 992px) {
    .display-lg-3 {
        font-size: 38.4px;
    }
}

@media (min-width: 992px) {
    .display-lg-25px {
        font-size: 25px;
    }
}

@media (max-width: 551px) {
    .display-sm-20px {
        font-size: 20px;
        line-height: 30px
    }
}

@media (min-width: 552px) and (max-width: 991px) {
    .display-md-30px {
        font-size: 30px;
    }
}

@media (max-width: 551px) {
    .display-sm-17px {
        font-size: 17px;
        line-height: 20px
    }
}

@media (max-width: 551px) {
    .display-sm-12px {
        font-size: 12px;
    }
}

@media (max-width: 449px) {
    .display-sm-0.75 {
         width: 75%;
    }
}


.tab-div{
    background-color: #008fa0;
    padding: 0.4rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 15px
}

@media (max-width: 1000px) {
    .display-max-1000-300 {
         width: 300px;
         height: auto;
    }
}


@media (min-width: 1000px) {
    .display-min-1000-300 {
         width: 30%;
         height: auto;
    }
}

@media (min-width: 1400px) {
    .display-min-1400-420 {
         width: 420px;
         height: auto;
    }
}

@media (max-width: 386px) {
    .display-386-40px {
        font-size: 40px;
    }
}

@media (min-width: 387px) {
    .display-387-50px {
        font-size: 50px;
    }
}

.vertical-center {
  margin: auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 576px) {
    .responsive-input {
      width: 100%;
      margin-bottom: 10px;
    }
    .responsive-button {
      width: 100%;
    }
  }

  @media (min-width: 576px) {
    .responsive-input {
      flex: 1;
    }
    .responsive-button {
      flex-shrink: 0;
    }